Source: xmon
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), libxaw7-dev, xutils, dpatch

Package: xmon
Architecture: any
Depends: ${shlibs:Depends}
Description: An interactive X protocol monitor
 Xmon interactively monitors the byte-stream connections between an X
 server and a number of X clients.  Xmon recognises all requests,
 events, errors and replies sent between the clients and the server
 which are part of the core X protocol.
